div(ng-include='"components/navbar/navbar.html"')
.container.contact
  h1 Contact
  ul
    li Downtown Jackson Grand River Farmers Market
    li 117 West Louis Glick Hwy.
    li Jackson, MI 49201

  ul
    li 8am-1pm every Tuesday, Friday, and Saturday, weather permitting
    li June through November

  ul
    li Sherri Laferriere
    li 517-740-4012
    li
      a(href="mailto:slaferriere@cityofjackson.org") slaferriere@cityofjackson.org
    li
      a(href="http://www.jacksondda.org") http://www.jacksondda.org
